 #pdfInput {
   display: flex;
   position: absolute;
 }

 input[type="file"]::-webkit-file-upload-button {
   border: white;
   padding: 0.2em 0.2em;
   border-radius: 0.2em;
   background-color: rgb(137, 137, 126);
   color: rgb(6, 6, 6);
   font-size: 2rem;
 }

 input[type="file"]::file-selector-button:hover {
   background-color: #81ecec;
   border: #00cec9;
 }

 body {
   justify-content: center;
   background-color: black;
   color: white;
   font-size: 3rem;
   margin: 2rem;
   min-height: 100vh;
 }

 form {
   height: 200px;
   border: 5px;
   border-color: white;
 }

 #uploadButton {
   display: inline-block;
   position: relative;
   padding: 15px 20px;
   background: rgb(137, 137, 126);
   color: #000;
   font-size: 18px;
   text-align: center;
   font-weight: 700;
   margin: 200px;
   border-radius: 25px;
   margin-left: 50px;
   margin-top: -550px;
 }

 #uploadButton:hover {
   background-color: #81ecec;
   border: 2px solid #00cec9;
 }

 #fileUploads {
   margin-top: 5px;
   text-align: center;
   color: bisque;
 }

 iframe {
   margin-left: 325px;
   margin-top: 200px;
 }

 .stop-scrolling {
   height: 100%;
   overflow: hidden;
 }

 .start-scrolling {
   overflow: auto;
 }

